<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Dopolnitelno\Projects\Visual Studio 2010\WebSites\MPSeminarskaFinal\App_Data\TestDB.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
</configuration>